body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;

}


.container {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center center;

    width: 460px;
    //color: #afb5bedc;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
}

.hero-image {

    img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: auto;
    }

}

.section-first {
    text-align: center;
}

.section-two {
    .section-two-container {
        background-color: darken(rgba(255, 255, 255, 1), 5%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2%;
        padding: 2%;
        padding-left: 3%;
        padding-right: 4%;
        border-radius: 15px;
    }
}

.section-two-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        margin: auto 0 auto 1.5rem;

        h3 {
            margin-top: 0;
            margin-bottom: 0px;
        }
    }
}

.section-last {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        display: block;
        width: 70%;
        background: rgb(68, 7, 211);
        color: rgba(255, 255, 255, 1);
        border-radius: 10px;
        border: 2px solid rgb(68, 7, 211);
        padding: 3% 0;
        cursor: pointer;
        box-shadow: 0 18px 3px #f0f4ff;
        &:hover{
            background: lighten(rgb(68, 7, 211), 10%);
        }
    }

    input {
        border: none;
        background: none;
        margin-top: 2%;
        cursor: pointer;
    }
}